<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">CST</h1>
      <p class="text-justify px-4 py-1">
        - Os Códigos de Situação Tributária foram estabelecidos pelo Ajuste SINIEF 03/94, que modificou o Convênio SINIEF s/n°, de 15.12.1970, ao adicionar um anexo com esses códigos.
      </p>
      <p class="text-justify px-4 py-1">
        - A tabela foi atualizada pelo Ajuste SINIEF 02/95, que introduziu novos códigos. Naquela época, o Código de Situação Tributária consistia apenas de dois dígitos.
      </p>
      <p class="text-justify px-4 py-1">
        - A partir de 2001, passaram a ser utilizados códigos com três dígitos, conforme estabelecido pelo Ajuste SINIEF 06/2000.
      </p>
      <p class="text-justify px-4 py-1">
        - Em 2013, foram criados novos códigos identificadores de origem pelo Ajuste SINIEF 20/2012, com posterior modificação pelos Ajustes SINIEF 02/2013 e 15/2013.
      </p>
      <p class="text-justify px-4 py-1">
        - Em 2023, por meio do Ajuste SINIEF 39/2023, foram instituídos novos códigos relacionados à tributação do ICMS, com vigência a partir de 01.10.2024.
      </p>
      <p class="text-justify px-4 py-1">
        - Destaca-se nessa última atualização da tabela a criação de códigos exclusivos para uso pelos contribuintes optantes pelo Simples Nacional.
      </p>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Composição do Código e Utilização</h1>
      <p class="text-justify px-4 py-1">
        O Código de Situação Tributária é composto por três dígitos na forma ABB.
        O primeiro dígito (A) indica a origem da mercadoria ou serviço, seja nacional, importada, entre outras categorias. Os dois últimos dígitos (BB) indicam a forma de tributação pelo ICMS.
        Os Códigos de Situação Tributária são empregados para emissão de documentos fiscais em geral, especialmente Nota Fiscal, modelo 1 ou 1-A, e Nota Fiscal Eletrônica (NF-e), modelo 55, pelos contribuintes que optam pelo regime normal de apuração.
      </p>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Códigos Relativos à Origem</h1>
      <p class="text-justify px-4 py-1">
        Os códigos relativos à origem são utilizados para identificar se a operação estará sujeita à tributação pelo IPI e para indicar se será aplicável ou não a alíquota de 4% nas operações interestaduais, conforme estabelecido pela Resolução do Senado Federal n° 13/2012 e pelo Convênio ICMS 38/2013, entre outras finalidades.
      </p>
      <p class="text-justify px-4 py-1">
        A seguir, são apresentados os códigos referentes à origem da mercadoria e as situações em que cada um deles é utilizado:
      </p>
      <app-table
        [tableHeaders]="tableHeaders"
        [pages]="pages"
        [hasExport]="false"
        [hasSearch]="false"
        [hasFooter]="false"
        [hasEntries]="false">
        <tbody class="bg-white">
          <tr *ngFor="let data of dataTable">
            <th>{{ data.id }}</th>
            <td>{{ data.desc }}</td>
            <td>{{ data.info }}</td>
          </tr>
        </tbody>
      </app-table>
    </div>
  </div>
</div>
