<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">Férias Coletivas</h1>
      <p class="text-justify px-4 py-1">
        O Decreto-lei n° 1.535/77 alterou o Capítulo IV do Título II da Consolidação das Leis do Trabalho (CLT), para dispor sobre as férias coletivas, anteriormente disciplinadas em regulamentos internos de empresas ou normas coletivas (convenções ou acordos coletivos de trabalho).
      </p>
      <p class="text-justify px-4 py-1">
        As férias coletivas poderão abranger a totalidade dos empregados da empresa, ou somente alguns setores ou estabelecimentos. Em muitas ocasiões, são concedidas em períodos de festas de fim de ano, quando os dias entre os feriados podem trazer episódios de absenteísmo (faltas injustificadas dos empregados).
      </p>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Regras</h1>
      <p class="text-justify px-4 py-1">
        As principais regras atinentes às férias coletivas serão abordadas nesta área especial. As informações foram separadas em guias, da seguinte forma:
      </p>
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Disposições Gerais:</b> informações quanto aos objetivos da concessão das férias no modo coletivo e abrangência setorial e geral para as empresas.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Regras:</b> descrição dos períodos mínimo e máximo de dias para concessão de férias coletivas, e condições a preencher para o fracionamento em mais de um período.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Abono Pecuniário de Férias:</b> possibilidade legal de conversão de 1/3 do período de descanso das férias coletivas em dinheiro, desde que negociado através de acordo coletivo ou mediante previsão na convenção coletiva de trabalho.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Procedimento:</b> rol de comunicados necessários para a formalização das férias coletivas e exemplos práticos de cálculos para empregados com mais e menos de um ano de contratação na empresa.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Cálculos:</b> regras gerais com exemplos de cálculos para o pagamento das férias coletivas.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>INSS e FGTS:</b> sobre a obrigatoriedade de recolhimento de INSS e FGTS.
        </li>
      </ul>
    </div>
  </div>
</div>
