<button [disabled]="disabledBtn" [type]="typeBtn" [name]="nameBtn" [id]="idBtn" (click)="onClick.emit()" [ngClass]="[btnWidth +  ' text-blue-700
  flex justify-center uppercase  px-3 py-2 text-sm font-regular rounded-xl
  hover:text-white border
  border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
  focus:ring-blue-300 font-medium text-center me-2 mb-2
  dark:border-blue-500 dark:text-blue-500 dark:hover:text-white
  dark:hover:bg-blue-600
  dark:focus:ring-blue-900
  transition duration-300',
  disabledBtn ? 'cursor-not-allowed opacity-50 disabled:hover:bg-white disabled:hover:text-blue-700 disabled:hover:dark:text-blue-500' : '']">
  {{ textBtn }}</button>
