<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">Alíquotas / Benefícios Fiscais</h1>
      <p class="text-justify px-4 py-1">
        Esta ferramenta elenca todas as referências e informações importantes a serem observadas, para fins da determinação da alíquota a ser aplicada nas operações internas e dos benefícios fiscais existentes (reduções de base de cálculo, isenções, créditos outorgados), de acordo com a mercadoria ou serviço.
      </p>
      <p class="text-justify px-4 py-1">
        Também foram elencadas as hipóteses de diferimento - embora o diferimento não seja propriamente um benefício fiscal, e sim uma espécie de substituição tributária, acaba por representar uma desoneração do ICMS, para aqueles que efetivam a operação com diferimento.
      </p>
      <p class="text-justify px-4 py-1">
        Na hipótese de não haver previsão de alíquota específica, será cabível a aplicação da regra geral, prevista na legislação da Unidade da Federação em questão.
      </p>
      <p class="text-justify px-4 py-1">
        A legislação pode fazer referência ao código NCM do produto ou somente à descrição - sendo recomendável, portanto, máxima atenção ao efetuar a busca.
      </p>
      <p class="text-justify px-4 py-1">
        Para efetuar a pesquisa, selecione a Unidade Federada (UF) de interesse e digite, no campo de pesquisa, o código NCM do produto ou a descrição, aquela constante na legislação estadual - sendo prudente a realização de pesquisa tanto pelo código NCM completo (8 dígitos) ou por seis, quatro e dois dígitos, bem como pela descrição, para se certificar quanto à busca de todas as ocorrências possíveis.
        Tendo em vista a implementação do novo Sistema Harmonizado (SH-2022), recomenda-se a verificação das alterações incorridas entre as versões da NCM do produto, por meio da ferramenta Correlação da NCM.
      </p>
      <p class="text-justify px-4 py-1">
        Esta ferramenta leva em consideração somente benefícios fiscais que façam referência a produtos específicos - não sendo considerados, portanto, benefícios que se refiram a mercadorias em geral, ainda que atrelados à condição do fornecedor ou do destinatário.
      </p>
      <p class="text-justify px-4 py-1">
        Deverão ser observadas as condições para aplicação das alíquotas ou dos benefícios, conforme referenciado nas notas constantes dos itens relacionados, exibidas, com a expansão da linha, ao clicar no item.
        As reclassificações, agrupamentos e desdobramentos de códigos da classificação fiscal (NCM) não implicam mudanças no tratamento tributário em relação às Unidades da Federação signatárias do Convênio ICMS 117/96, conforme expresso no texto do referido convênio.
        A legislação estadual pode fazer alusão ao percentual de carga tributária. Para verificar o percentual de equivalência para fins de redução de base de cálculo do ICMS, deve ser utilizada a Tabela de Equivalência.
      </p>
    </div>
  </div>
</div>
