<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">Âmbito Trabalhista / Previdenciário</h1>
      <app-table
      [tableHeaders]="tableHeaders"
      [pages]="pages"
      [hasExport]="false"
      [hasSearch]="false"
      [hasFooter]="false"
      [hasEntries]="false">
      <tbody class="bg-white">
        <tr *ngFor="let data of dataTable">
          <th><a class="cursor-pointer text-bold text-blue-800 hover:text-blue-600" (click)="navigate(data.route)">{{ data.type }}</a></th>
          <td>{{ data.mandatory }}</td>
          <td>{{ data.frequency }}</td>
          <td>{{ data.time }}</td>
        </tr>
      </tbody>
    </app-table>
    </div>
  </div>
</div>
