<div class="fixed z-50 inset-0 overflow-y-auto">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div
      class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="block absolute top-0 right-0 pt-4 pr-4">
        <button type="button" data-behavior="cancel" (click)="cancelModal()"
          class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none">
          <span class="sr-only">Close</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="sm:flex sm:items-start md:inline-block w-full">
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <h3 class="text-lg text-center leading-6 font-medium text-gray-900" id="modal-headline">
            {{modalTitle}}
          </h3>
          <div class="mt-2">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
        <div class="md:ml-2 sm:ml-0" *ngIf="hasPrimaryBtn" >
          <app-button-primary
            typeBtn="button"
            [textBtn]="primaryBtnTitle"
            (onClick)="confirmModal()"
            [disabledBtn]="primaryBtnDisabled">
          </app-button-primary>
        </div>
        <div *ngIf="hasOutlineBtn">
          <app-button-outline
            typeBtn="button"
            [textBtn]="outlineBtnTitle"
            (onClick)="cancelModal()"
            [disabledBtn]="outlineBtnDisabled">
          </app-button-outline>
        </div>
      </div>
    </div>
  </div>
</div>
