<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">Férias Coletivas</h1>
      <p class="text-justify px-4 py-1">
        O Decreto-lei nº 1.535/77 modificou o Capítulo IV do Título II da Consolidação das Leis do Trabalho (CLT) para regular as férias coletivas, que anteriormente eram disciplinadas em regulamentos internos das empresas ou por normas coletivas (convenções ou acordos coletivos de trabalho).
      </p>
      <p class="text-justify px-4 py-1">
        As férias coletivas podem abranger todos os empregados da empresa ou apenas alguns setores ou estabelecimentos. Frequentemente, são concedidas durante os períodos de festas de fim de ano, quando os dias entre os feriados podem resultar em episódios de absenteísmo (faltas injustificadas dos empregados).
      </p>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Regras</h1>
      <p class="text-justify px-4 py-1">
        As principais regras atinentes às férias coletivas serão abordadas nesta área especial. As informações foram separadas em guias, da seguinte forma:
      </p>
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Disposições Gerais:</b> informações sobre os objetivos da concessão das férias de modo coletivo e a abrangência setorial e geral para as empresas.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Regras:</b> descrição dos períodos mínimo e máximo de dias para concessão de férias coletivas, e as condições para o fracionamento em mais de um período.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Abono Pecuniário de Férias:</b> possibilidade legal de converter 1/3 do período de descanso das férias coletivas em dinheiro, mediante acordo coletivo ou previsão na convenção coletiva de trabalho.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Procedimento:</b> lista dos comunicados necessários para formalização das férias coletivas e exemplos práticos de cálculos para empregados com menos e mais de um ano de contrato na empresa.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Cálculos:</b> regras gerais com exemplos de cálculos para o pagamento das férias coletivas.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>INSS e FGTS:</b> obrigatoriedade de recolhimento do INSS e FGTS durante o período de férias coletivas.
        </li>
      </ul>
    </div>
  </div>
</div>
