<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">EFD - Reinf</h1>
      <p class="text-justify px-4 py-1">
        Prorrogação de Prazo para Cumprimento de Obrigações Acessórias
      </p>
      <p class="text-justify px-4 py-1">
        O prazo para cumprimento de obrigações acessórias, no âmbito da Receita Federal, com vencimento em abril, maio e junho de 2024, foi prorrogado para 31.07.2024, 30.08.2024 e 30.09.2024, respectivamente, para os contribuintes localizados nos municípios do Estado do Rio Grande do Sul (RS) listados na Portaria RFB nº 415/2024, declarados em situação de calamidade pública.
      </p>
    </div>

    <div>
      <div class="my-2"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Atenção</h2>
        <p class="text-justify px-4 py-1">
          As orientações apresentadas nesta área especial referem-se às retenções de IRRF, CSLL, Contribuições para o PIS/Pasep, Cofins e INSS, ou seja, não consideram a incidência da CBS, que substituirá as Contribuições para o PIS/Pasep e Cofins em 2027. Ressalta-se que a competência para a criação da CBS foi estabelecida pela Emenda Constitucional nº 132/2023, e o tributo será instituído por Lei Complementar a partir de 2026. Saiba mais na Área Especial da Reforma Tributária.
        </p>
      </app-card>
      <div class="my-6"></div>
    </div>

    <div>
      <p class="text-justify px-4 py-1">
        A Escrituração Fiscal Digital de Retenções e Outras Informações Fiscais (EFD-Reinf), instituída inicialmente pela IN RFB nº 1.701/2017 e posteriormente revogada pela IN RFB nº 2.043/2021, é uma obrigação acessória vinculada ao ambiente SPED, sendo construída como complemento ao Sistema de Escrituração Digital das Obrigações Fiscais, Previdenciárias e Trabalhistas (eSocial).
      </p>
      <p class="text-justify px-4 py-1">
        Ao final de sua implantação, a EFD-Reinf conterá informações que anteriormente eram enviadas por meio da DIRF e da GFIP, além dos dados sobre a Contribuição Previdenciária sobre a Receita Bruta (CPRB), que antes eram prestados pelos contribuintes na EFD-Contribuições.
      </p>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Área Especial da EFD-Reinf</h1>
      <p class="text-justify px-4 py-1">
        Nesta área especial, estão disponíveis, divididas em guias, as seguintes informações:
      </p>
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Obrigatoriedade: </b>orientações sobre a obrigatoriedade do envio e cronograma para início da entrega;
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Preenchimento: </b>instruções relativas ao preenchimento da EFD-Reinf;
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Acesso: </b>esclarecimentos sobre como acessar e transmitir a EFD-Reinf;
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Prazos: </b>prazos estabelecidos para a entrega da EFD-Reinf;
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Penalidades: </b>informações sobre as penalidades aplicáveis pelo descumprimento da entrega;
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Links: </b>acesso ao portal, leiautes, arquivos XSD, boletins e matérias relacionadas;
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Legislações: </b>compilação de leis e instruções normativas pertinentes à EFD-Reinf.
        </li>
      </ul>
    </div>
  </div>
</div>
