<div
  class="sm:mt-16  hs-accordion-group p-6 w-full sm:w-52 md:w-52 lg:w-52 mg:h-svh sm:h-svh lg:h-svh flex-col flex-wrap bg-blue-700">
  <ul class="flex flex-col gap-2 max-w-[280px] mx-auto">
    <li>
      <details class="group">
        <summary [ngClass]="menuActivated == 'home' ? 'bg-blue-800 rounded-lg' : ''"
          class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer">

          <span class="text-white" class="flex gap-2 items-center">
            <img src="/assets/svgs/house-solid.svg" class="w-5 h-5" style="filter: invert(1);">

            <span class="text-white">
              <a href="dashboard/home" (click)="activatedMenu('home')">Home</a>
            </span>
          </span>
        </summary>
      </details>
    </li>
    <li>
      <details class="group">
        <summary
          class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer">

          <span class="text-white" class="flex gap-2 items-center">
            <img src="/assets/svgs/house-solid.svg" class="w-5 h-5" style="filter: invert(1);">

            <span class="text-white">
              Item 3
            </span>
          </span>
          <svg class="w-4 h-4 text-gray-500 transition group-open:rotate-90" xmlns="http://www.w3.org/2000/svg"
            width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
            <path class="stroke-white" fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
            </path>
          </svg>
        </summary>
        <article class="px-4 pb-4">
          <ul class="flex flex-col gap-1 pl-2 text-white">
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 1</a>
            </li>
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 2</a>
            </li>
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 3</a>
            </li>
          </ul>
        </article>
      </details>
    </li>
    <li>
      <details class="group">
        <summary
          class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer">

          <span class="text-white" class="flex gap-2 items-center">
            <img src="/assets/svgs/house-solid.svg" class="w-5 h-5" style="filter: invert(1);">

            <span class="text-white">
              Item 1
            </span>
          </span>
          <svg class="w-4 h-4 text-gray-500 transition group-open:rotate-90" xmlns="http://www.w3.org/2000/svg"
            width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
            <path class="stroke-white" fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
            </path>
          </svg>
        </summary>
        <article class="px-4 pb-4">
          <ul class="flex flex-col gap-1 pl-2 text-white">
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 1</a>
            </li>
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 2</a>
            </li>
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 3</a>
            </li>
          </ul>
        </article>
      </details>
    </li>
    <li>
      <details class="group">
        <summary
          class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer">

          <span class="text-white" class="flex gap-2 items-center">
            <img src="/assets/svgs/house-solid.svg" class="w-5 h-5" style="filter: invert(1);">

            <span class="text-white">
              Item 2
            </span>
          </span>
          <svg class="w-4 h-4 text-gray-500 transition group-open:rotate-90" xmlns="http://www.w3.org/2000/svg"
            width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
            <path class="stroke-white" fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
            </path>
          </svg>
        </summary>
        <article class="px-4 pb-4">
          <ul class="flex flex-col gap-1 pl-2 text-white">
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 1</a>
            </li>
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 2</a>
            </li>
            <li class="flex items-center">
              <img src="/assets/svgs/house-solid.svg" class="w-4 h-4" style="filter: invert(1);">
              <a href="" class="ml-2">SubItem 3</a>
            </li>
          </ul>
        </article>
      </details>
    </li>
  </ul>
</div>
