<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">Décimo Terceiro Salário</h1>
      <p class="text-justify px-4 py-1">
        O décimo terceiro salário é devido a todos os empregados, devendo ser pago em duas parcelas conforme estabelecido pela Lei nº 4.749/65:
      </p>
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Primeira Parcela: </b>entre os meses de fevereiro a novembro de cada ano.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Segunda Parcela: </b>até o dia 20 de dezembro.
        </li>
      </ul>
      <p class="text-justify px-4 py-1">
        Conforme o artigo 78, § 2°, do Decreto nº 10.854/2021, o empregador não é obrigado a pagar o adiantamento da primeira parcela do décimo terceiro salário no mesmo mês a todos os empregados. No entanto, a data limite para o pagamento é até o dia 30 de novembro, devendo ser antecipado se essa data recair em um dia não útil.
      </p>
      <p class="text-justify px-4 py-1">
        Com a Reforma Trabalhista, instituída pela Lei nº 13.467/2017, que acrescentou o artigo 611-B na CLT a partir de 11.11.2017, constitui objeto ilícito de convenção coletiva ou acordo coletivo de trabalho a supressão ou a redução do valor nominal do décimo terceiro salário.
      </p>
      <p class="text-justify px-4 py-1">
        De acordo com o artigo 79 do Decreto nº 10.854/2021, o adiantamento da primeira parcela do décimo terceiro salário pode ser pago ao ensejo das férias do empregado, desde que este faça o requerimento no mês de janeiro do correspondente ano.
      </p>
      <p class="text-justify px-4 py-1">
        Nesta área especial, serão abordados os aspectos mais relevantes relacionados ao pagamento da 1ª e 2ª parcelas do décimo terceiro salário. As informações foram organizadas em guias, conforme abaixo:
      </p>
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Visão Geral: </b>disposições gerais sobre o décimo terceiro salário, sua origem histórica, beneficiários, base de cálculo, pagamento nos afastamentos e prazos.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Parcelas - Comparativo: </b>base de cálculo, pagamento proporcional em avos para os empregados que trabalharam e não trabalharam o ano todo, exemplos de cálculos, afastamento por auxílio-doença e acidente de trabalho, prazo para pagamento e recolhimentos de INSS e FGTS. Quadro comparativo com as informações da 1ª e da 2ª parcela.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Visão Geral: </b>disposições gerais sobre o décimo terceiro salário, sua origem histórica, beneficiários, base de cálculo, pagamento nos afastamentos e prazos.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>Ajuste - Salário Variável: </b>ajuste do décimo terceiro salário para empregados que receberam salário variável durante todo ou parte do ano, ou para empregados que trabalharam o ano todo ou não. Informações sobre a base de cálculo, exemplos, prazo para pagamento e recolhimentos previdenciários e fundiários.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>INSS / FGTS / IRRF: </b>incidências de INSS, FGTS e IRRF sobre a 1ª e a 2ª parcelas do décimo terceiro salário, e sobre o ajuste de diferença de décimo terceiro salário variável.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          <b>eSocial: </b>preenchimento do eSocial e FGTS Digital de forma detalhada e particularizada.
        </li>
      </ul>
    </div>
  </div>
</div>
