<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">DIFAL Não Contribuinte</h1>
      <p class="text-justify px-4 py-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dignissimos nisi expedita velit, nostrum iste veniam illum eaque sequi voluptate voluptatem odio quod. Voluptatum, ipsum nulla cupiditate quidem repudiandae vitae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum impedit eaque, maiores quos voluptate expedita cum quae voluptatibus accusantium mollitia aliquam dolorem! Error vitae animi reiciendis debitis. Sint, cupiditate error.
      </p>
      <p class="text-justify px-4 py-1">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quis quaerat ea obcaecati adipisci dolorum ipsum in explicabo architecto a facilis ab distinctio ipsa nihil accusantium, est maxime vitae reiciendis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas facilis modi neque ad sit, nemo, impedit facere fugit accusamus consequuntur obcaecati similique veritatis? Consectetur modi repudiandae accusamus ad inventore illum?
      </p>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Lorem ipsum</h1>
      <p class="text-justify px-4 py-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis natus maxime at pariatur autem officiis, magni nesciunt exercitationem labore explicabo provident non quo veritatis voluptatem aliquam ipsa hic cupiditate quasi!
      </p>
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa laborum molestiae accusamus amet, nemo quaerat at sit delectus, dignissimos beatae, asperiores explicabo hic voluptatibus repellat culpa rem? Dignissimos, voluptatibus fugit.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla fugiat perferendis fugit tempore, culpa nihil explicabo atque voluptatum! Nisi expedita reprehenderit ea soluta, magnam odio provident a! Tempora, sunt omnis?
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque temporibus laborum? Modi et soluta molestias debitis, porro earum perferendis, rem adipisci deserunt sunt iste aut. Amet quo omnis totam!
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima dolores saepe similique repudiandae. Modi ratione earum repudiandae atque ipsa voluptas officia, quam corrupti alias cum dolor quas distinctio necessitatibus soluta.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi minus deleniti quos ut tempora, repellendus similique iure? Ullam quis laboriosam quidem, aliquid harum alias, magnam tenetur, eveniet optio totam facilis.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sapiente molestias consequuntur, nobis fugiat at veniam totam voluptatum mollitia! Eum repudiandae recusandae laboriosam nulla eligendi, magnam obcaecati architecto minima maiores?
        </li>
      </ul>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Lorem ipsum</h1>
      <div class="my-2"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Lorem</h2>
        <p class="text-justify px-4 py-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam impedit unde error aut molestias saepe minus deserunt architecto, nam quia cum voluptatem aliquam voluptates, sapiente sit magni praesentium quisquam deleniti?
        </p>
        <p class="text-justify px-4 py-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consequatur facere dolor cumque sapiente! Dolore beatae voluptas accusantium dicta, quo error optio velit delectus necessitatibus corrupti quaerat minus voluptates. Molestiae?
        </p>
      </app-card>
      <div class="my-6"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Lorem</h2>
        <p class="text-justify px-4 py-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam impedit unde error aut molestias saepe minus deserunt architecto, nam quia cum voluptatem aliquam voluptates, sapiente sit magni praesentium quisquam deleniti?
        </p>
        <p class="text-justify px-4 py-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consequatur facere dolor cumque sapiente! Dolore beatae voluptas accusantium dicta, quo error optio velit delectus necessitatibus corrupti quaerat minus voluptates. Molestiae?
        </p>
      </app-card>
      <div class="my-6"></div>
    </div>
  </div>
</div>
