<div class="p-4 bg-white">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">IRPF 2024</h1>
      <p class="text-justify px-4 py-1">
        Publicada, no DOU de 07.03.2024, a Instrução Normativa RFB nº 2.178/2024, dispondo sobre as normas e procedimentos referentes à Declaração do Imposto de Renda da Pessoa Física de 2024 (ano-calendário de 2023), tais como obrigatoriedade, hipóteses de dispensa da entrega, orientações quanto ao conteúdo e à forma de transmissão, prazos e penalidades.
      </p>
      <p class="text-justify px-4 py-1">
        A declaração deverá ser apresentada no período de 15.03.2024 a 31.05.2024.
      </p>
      <p class="text-justify px-4 py-1">
        ATENÇÃO: o prazo para entrega da declaração foi prorrogada de 31.05.2024 para 30.08.2024, para contribuintes domiciliados nos municípios em estado de calamidade pública no Rio Grande do Sul. A lista dos municípios afetados está disponível no Anexo Único da Portaria RFB nº 415/2024. No dia 23.05.2024 foi publicada no DOU a Portaria RFB n° 423/2024, concedendo as mesmas prorrogações para os municípios de Rio Grande e São Lourenço do Sul.
      </p>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Obrigatoriedade</h1>
      <p class="text-justify px-4 py-1">
        A obrigatoriedade da apresentação da declaração é para a pessoa física, residente no Brasil que, no ano-calendário de 2023:
      </p>
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          Recebeu rendimentos tributáveis, sujeitos ao ajuste na declaração, cuja soma foi superior a R$ 30.639,90
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Recebeu rendimentos isentos, não tributáveis ou tributados exclusivamente na fonte, cuja soma foi superior a R$ 200 mil
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Obteve, em qualquer mês, ganho de capital na alienação de bens ou direitos sujeito à incidência do Imposto
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Realizou operações de alienação em bolsas de valores, de mercadorias, de futuros e assemelhadas:
          <br>
          a) cuja soma foi superior a R$ 40 mil; ou
          <br>
          b) com apuração de ganhos líquidos sujeitas à incidência do imposto
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Em relação à atividade rural, obteve receita bruta em valor superior a R$ 153.199,50; ou pretenda compensar, no ano-calendário de 2023 ou posteriores, prejuízos de anos-calendário anteriores ou do próprio ano-calendário de 2023
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Teve, em 31.12.2023, a posse ou a propriedade de bens ou direitos, inclusive terra nua, de valor total superior a R$ 800 mil
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Passou à condição de residente no Brasil em qualquer mês e nessa condição encontrava-se em 31.12.2023
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Optou pela isenção do Imposto sobre a Renda incidente sobre o ganho de capital auferido na venda de imóveis residenciais, caso o produto da venda seja aplicado na aquisição de imóveis residenciais localizados no País, no prazo de 180 dias, contado da celebração do contrato de venda, nos termos do artigo 39 da Lei n° 11.196/2005
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Optou por declarar os bens, direitos e obrigações detidos pela entidade controlada, direta ou indireta, no exterior como se fossem detidos diretamente pela pessoa física, nos termos do Regime de Transparência Fiscal de Entidade Controlada estabelecido no artigo 8º da Lei nº 14.754/2023
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Teve, em 31.12.2023, a titularidade de trust e demais contratos regidos por lei estrangeira com características similares a este, nos termos dos artigos 10 a 13 da Lei nº 14.754/2023
        </li>
        <li class="px-4 py-1 w-full">
          Optou pela atualização a valor de mercado de bens e direitos no exterior, nos termos do artigo 14 da Lei nº 14.754/2023
        </li>
      </ul>
    </div>

    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-12">Novidades e Mudanças</h1>
      <div class="my-2"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Atualização da tabela progressiva</h2>
        <p class="text-justify px-4 py-1">
          A Lei n° 14.663/2023 atualizou a tabela progressiva mensal do Imposto de Renda da Pessoa Física (IRPF), a partir de maio de 2023, passando o valor da faixa de isenção para R$ 2.112,00.
        </p>
        <p class="text-justify px-4 py-1">
          Além da mudança na faixa de isenção, a Lei n° 14.663/2023 criou a opção de desconto simplificado de 25%, em substituição às deduções legais, ou seja, um desconto de R$ 528,00, direto na fonte, de forma que, de maio a dezembro de 2023, o Imposto de Renda Retido na Fonte (IRRF) somente se aplicou para salários superiores a R$ 2.640,00.
        </p>
      </app-card>
      <div class="my-6"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Obrigatoriedade de envio - atualização dos limites</h2>
        <p class="text-justify px-4 py-1">
          Devido à Lei nº 14.663/2023, foram alterados os limites para obrigatoriedade do envio da declaração:
        </p>
        <p class="text-justify px-4 py-1">
          - Rendimentos tributáveis passou de R$ 28.559,70 para R$ 30.639,90;
          <br>
          - Rendimentos isentos e não tributáveis de R$ 40 mil para R$ 200 mil;
          <br>
          - Receita Bruta da atividade rural de R$ 142.798,50 para R$ 153.199,50;
          <br>
          - Posse ou propriedade de bens e direitos de R$ 300 mil pra 800 mil.
        </p>
      </app-card>
      <div class="my-6"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Obrigatoriedade de envio - bens no exterior</h2>
        <p class="text-justify px-4 py-1">
          Devido à Lei nº 14.754/2023, ficam obrigados a fazer o envio da declaração:
        </p>
        <p class="text-justify px-4 py-1">
          - Quem optou por detalhar bens da entidade controlada como se fosse da pessoa física;
          <br>
          - Quem possui trust no exterior;
          <br>
          - Deseja atualizar bens no exterior.
        </p>
      </app-card>
      <div class="my-6"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Mudanças nas fichas</h2>
        <p class="text-justify px-4 py-1">
          - Inserida a pergunta “Era residente no exterior e passou a ser residente no Brasil em 2023”?, na ficha de Identificação do contribuinte no PGD;
          <br>
          - Obrigatoriedade da informação do tipo de processo (Escritura pública e/ou Decisão Judicial) e a informação do número do CPF do alimentando no exterior;
          <br>
          - Para o grupo do Criptoativos haverá necessidade de inclusão dos códigos Altcoin e Stablecoin. A relação dos códigos poderá ser pesquisada diretamente no programa e será obrigatório as informações sobre custódia e do CNPJ do não custodiante;
          <br>
          - Inclusão da data de retorno ao país;
          <br>
          - Identificação dos bens do exterior que serão atualizados ou desmembrados em função da Lei nº 14.754/2023;
          <br>
          - Alteração no percentual do Desporto para até 1%, retorno das doações do Pronas/PCD e do Pronon e inclusão de mais uma doação, a do Apoio direto a projetos que estimulem a cadeia produtiva da reciclagem.
        </p>
      </app-card>
      <div class="my-6"></div>
      <app-card>
        <h2 class="text-lg text-left font-bold text-blue-500">Apresentação</h2>
        <p class="text-justify px-4 py-1">
          - Disponibilizada nova forma de acesso ao preenchimento da declaração pelo aplicativo Receita Federal, desde que com autenticação com a conta gov.br, níveis ouro ou prata;
          <br>
          - Disponibilizada nova forma de acesso ao preenchimento da declaração pelos navegadores dos smartphones e tablets, pelo Portal do Meu Imposto de Renda, sem a necessidade de baixar aplicativos;
          <br>
          - Alteração do nome do app do Meu Imposto de Renda para App Meu IRPF e recuperação de dados sobre Aeronaves na declaração pré-preenchida.
        </p>
      </app-card>
    </div>
  </div>
</div>
