<div class="p-4 bg-white">

  <p class="p-2 mb-0 font-sans text-2xl font-semibold leading-normal ">
    Commons Components e Desing Guide</p>
  <!-- CARD -->
  <div class="p-4">
    <p class="p-2 mb-0 font-sans text-xl font-semibold leading-normal ">
      Cards</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2">
      <div class="p-2">
        <app-card>
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans text-sm font-semibold leading-normal ">
                  Novos usuários</p>
                <h5 class="mb-2 font-bold">+1110 nos últimos 6 meses</h5>
                <p class="mb-0">
                  <span class="text-sm font-bold leading-normal text-emerald-500">+44 No último mês</span>
                </p>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-20 h-20 text-center">
                <i class="fa-solid fa-users text-lg	"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <!-- BOTÃO -->
  <div class="p-4">
    <p class="p-2 mb-0 font-sans text-xl font-semibold leading-normal ">
      Botões</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-0">
      <div>
        <div class="p-2">
          <app-button-primary btnWidth="w-2/4" typeBtn="submit" textBtn="Botão primário" (onClick)="openDialog()">
          </app-button-primary>
        </div>
        <div class="p-2">
          <app-button-outline btnWidth="w-2/4" typeBtn="submit" textBtn="Botão outline" (onClick)="openDialog()">
          </app-button-outline>
        </div>
      </div>
    </div>
  </div>

  <!-- INPUTS -->
  <div class="p-4">
    <p class="p-2 mb-0 font-sans text-xl font-semibold leading-normal ">
      Inputs</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2">
      <div class="p-2">
        <app-basic-input inputType="email" inputId="inpEmail" inputLabel="inpEmail" textLabel="Digite seu e-mail"
          (valueChange)=getInputEmail($event)></app-basic-input>
      </div>
      <div class="p-2">
        <app-basic-input inputType="password" inputId="inpPass" inputLabel="inpPass" textLabel="Digite sua senha"
          inputAutocomplete="current-password" (valueChange)=getInputPass($event)></app-basic-input>
      </div>
    </div>
  </div>

  <!-- DIALOGS -->
  <div class="p-4">
    <p class="p-2 mb-0 font-sans text-xl font-semibold leading-normal ">
      Dialogs</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2">
      <div class="p-2">
        <app-button-primary btnWidth="w-2/4" typeBtn="submit" textBtn="Open Confirm Dialog" (onClick)="openDialog()">
        </app-button-primary>
      </div>
    </div>
  </div>

  <!-- FORM -->
  <div class="p-4">
    <p class="p-2 mb-0 font-sans text-xl font-semibold leading-normal ">
      Exemplo usando component card/form/input/button juntos</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2">
      <div class="p-2">
        <app-card>
          <div class="flex min-h-full flex-1 flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
              <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-brown-primary">
                Acesse sua conta
              </h2>
            </div>
            <app-form (onSubmit)="submitLogin()">
              <app-basic-input inputType="email" inputId="inpEmail" inputLabel="inpEmail" textLabel="Digite seu e-mail"
                (valueChange)=getInputEmail($event)></app-basic-input>

              <app-basic-input inputType="password" inputId="inpPass" inputLabel="inpPass" textLabel="Digite sua senha"
                inputAutocomplete="current-password" (valueChange)=getInputPass($event)></app-basic-input>

              <div class="mt2">
                <app-button-primary btnWidth="w-full" typeBtn="submit" textBtn="Entrar">
                </app-button-primary>
              </div>
            </app-form>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <app-chats></app-chats>

</div>
