<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <img class="m-auto md:-mt-20" src="assets/images/logo_alternativa.png" alt="logo ACS">

    <h1 class="-mt-20 text-2xl text-blue-700 font-bold text-center">Sobre a ACS</h1>
    <p class="text-justify px-4 mt-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt minima error quae fugiat voluptatibus cupiditate, impedit dignissimos facere ullam nemo eaque tempora veniam atque! Mollitia, itaque. Minus maxime error possimus.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat suscipit repellat modi eligendi debitis, amet at. Beatae doloremque distinctio quidem aliquid reiciendis dolorum sequi provident enim, repellat placeat culpa quae.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cupiditate delectus cumque voluptas ratione, alias labore, est esse accusantium odio itaque dolore tempore architecto ducimus dolor ullam blanditiis culpa quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto dicta cumque dolorum molestiae deleniti, recusandae veniam distinctio mollitia, repudiandae aperiam tenetur reiciendis ab odit vitae enim ullam reprehenderit iure.
    </p>

    <div class="mt-4">
      <ul class="text-justify grid w-5/6 m-auto border-2 rounded-md">
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa laborum molestiae accusamus amet, nemo quaerat at sit delectus, dignissimos beatae, asperiores explicabo hic voluptatibus repellat culpa rem? Dignissimos, voluptatibus fugit.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla fugiat perferendis fugit tempore, culpa nihil explicabo atque voluptatum! Nisi expedita reprehenderit ea soluta, magnam odio provident a! Tempora, sunt omnis?
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque temporibus laborum? Modi et soluta molestias debitis, porro earum perferendis, rem adipisci deserunt sunt iste aut. Amet quo omnis totam!
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima dolores saepe similique repudiandae. Modi ratione earum repudiandae atque ipsa voluptas officia, quam corrupti alias cum dolor quas distinctio necessitatibus soluta.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi minus deleniti quos ut tempora, repellendus similique iure? Ullam quis laboriosam quidem, aliquid harum alias, magnam tenetur, eveniet optio totam facilis.
        </li>
        <li class="border-b-2 px-4 py-1 w-full">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sapiente molestias consequuntur, nobis fugiat at veniam totam voluptatum mollitia! Eum repudiandae recusandae laboriosam nulla eligendi, magnam obcaecati architecto minima maiores?
        </li>
      </ul>
    </div>

    <p class="text-justify px-4 mt-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt minima error quae fugiat voluptatibus cupiditate, impedit dignissimos facere ullam nemo eaque tempora veniam atque! Mollitia, itaque. Minus maxime error possimus.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat suscipit repellat modi eligendi debitis, amet at. Beatae doloremque distinctio quidem aliquid reiciendis dolorum sequi provident enim, repellat placeat culpa quae.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cupiditate delectus cumque voluptas ratione, alias labore, est esse accusantium odio itaque dolore tempore architecto ducimus dolor ullam blanditiis culpa quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto dicta cumque dolorum molestiae deleniti, recusandae veniam distinctio mollitia, repudiandae aperiam tenetur reiciendis ab odit vitae enim ullam reprehenderit iure.
    </p>
  </div>
</div>
