<div class="p-4 bg-white h-screen">

  <div class="w-full">
    <img class="m-auto md:-mt-20" src="assets/images/logo_alternativa.png" alt="logo ACS">

    <h1 class="-mt-20 text-2xl text-blue-700 font-bold text-center">A empresa ACS</h1>
    <p class="text-justify px-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt minima error quae fugiat voluptatibus cupiditate, impedit dignissimos facere ullam nemo eaque tempora veniam atque! Mollitia, itaque. Minus maxime error possimus.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat suscipit repellat modi eligendi debitis, amet at. Beatae doloremque distinctio quidem aliquid reiciendis dolorum sequi provident enim, repellat placeat culpa quae.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cupiditate delectus cumque voluptas ratione, alias labore, est esse accusantium odio itaque dolore tempore architecto ducimus dolor ullam blanditiis culpa quis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto dicta cumque dolorum molestiae deleniti, recusandae veniam distinctio mollitia, repudiandae aperiam tenetur reiciendis ab odit vitae enim ullam reprehenderit iure.
    </p>
  </div>

</div>
