<div class="p-4 bg-white min-h-screen">
  <div class="w-full">
    <div>
      <h1 class="text-2xl text-center font-bold text-blue-700 mt-4">Alíquotas / Benefícios Fiscais</h1>
      <p class="text-justify px-4 py-1">
        Essa ferramenta lista todas as referências e informações relevantes que devem ser consideradas para determinar a alíquota a ser aplicada nas operações internas e os benefícios fiscais disponíveis (reduções de base de cálculo, isenções, créditos concedidos), conforme a mercadoria ou serviço.
      <p class="text-justify px-4 py-1">
        Também foram listadas as situações de diferimento - embora o diferimento não seja exatamente um benefício fiscal, mas uma forma de substituição tributária, ele acaba representando uma desoneração do ICMS para aqueles que realizam operações com diferimento.
      </p>
      <p class="text-justify px-4 py-1">
        Na hipótese de não haver previsão de alíquota específica, será cabível a aplicação da regra geral, prevista na legislação da Unidade da Federação em questão.
      </p>
      <p class="text-justify px-4 py-1">
        A legislação pode referir-se ao código NCM do produto ou apenas à sua descrição - por isso, é recomendável máxima atenção ao realizar a busca.
      </p>
      <p class="text-justify px-4 py-1">
        Para realizar a pesquisa, selecione a Unidade Federada (UF) desejada e digite no campo de pesquisa o código NCM do produto ou sua descrição conforme consta na legislação estadual. É prudente realizar a pesquisa tanto pelo código NCM completo (8 dígitos) quanto por seis, quatro e dois dígitos, além da descrição, para garantir a identificação de todas as ocorrências possíveis.
        Em vista da implementação do novo Sistema Harmonizado (SH-2022), recomenda-se verificar as alterações ocorridas entre as versões da NCM do produto. Esta ferramenta considera apenas os benefícios fiscais que fazem referência a produtos específicos, excluindo, portanto, os benefícios que se referem a mercadorias em geral, mesmo que estejam relacionados à condição do fornecedor ou do destinatário.
      </p>
      <p class="text-justify px-4 py-1">
        Esta ferramenta leva em consideração somente benefícios fiscais que façam referência a produtos específicos - não sendo considerados, portanto, benefícios que se refiram a mercadorias em geral, ainda que atrelados à condição do fornecedor ou do destinatário.
      </p>
      <p class="text-justify px-4 py-1">
        Devem ser observadas as condições para a aplicação das alíquotas ou dos benefícios, conforme mencionado nas notas dos itens relacionados, exibidas ao expandir a linha ao clicar no item. As reclassificações, agrupamentos e desdobramentos de códigos da classificação fiscal (NCM) não implicam mudanças no tratamento tributário para as Unidades da Federação signatárias do Convênio ICMS 117/96, conforme estipulado no texto desse convênio. A legislação estadual pode referir-se ao percentual de carga tributária.
      </p>
    </div>
  </div>
</div>
